@import url("https://fonts.googleapis.com/css?family=Muli");
* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  /*background: url("http://www.platehelp.nl/media/W1siZiIsIjIwMTUvMTAvMjcvMTBfNTZfMjBfNTU3X0lNR18xOTAxXzEuanBnIl1d/IMG_1901-1.jpg");*/
  background-size: cover;
}

#container {
  width: auto;
  /*height: auto;*/
  /*margin-top: 120px;*/
  -webkit-perspective: 800px;
  perspective: 800px;
  text-align: center;
  height: calc(100vh - 70px);
  overflow: auto;
}

#container h1 {
  color: #ECF6CE;
  margin-bottom: 30px;
}

#container > hr {
  border: none;
  border: 1px solid #fff;
  width: 80%;
}

.card {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 260px;
  opacity: 0.85;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-radius: 5px;
}

.front {
  transform: rotateY(0deg);
  background: -webkit-linear-gradient(top left, #fbd995, #fb736a);
  background: linear-gradient(to bottom right, #fbd995, #fb736a);
  text-align: center;
  padding: 30px;
}

.back {
  background: -webkit-linear-gradient(top left, #fbd995, #fb736a);
  background: linear-gradient(to bottom right, #fbd995, #fb736a);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 40px 15px;
  color: #fff;
}

.card:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.front .contact {
  height: 120px;
  width: 120px;
  border: 5px solid #B2DBBF;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}

.front .name {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

.front .job {
  color: #fff;
}

.front hr {
  border: none;
  color: #B2DBBF;
  border: 1px solid;
}

.back .icon {
  fill: currentColor;
  color: inherit;
  height: 33px;
  width: 33px;
  margin-top: 15px;
  color: white;
}

.back .icon:hover {
  cursor: pointer;
  color: #648767;
}
