@import url("https://fonts.googleapis.com/css?family=Muli");
* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  /*background: url("http://www.platehelp.nl/media/W1siZiIsIjIwMTUvMTAvMjcvMTBfNTZfMjBfNTU3X0lNR18xOTAxXzEuanBnIl1d/IMG_1901-1.jpg");*/
  background-size: cover;
}

#icons {
  position: fixed;
  bottom: 0px;
  z-index:100;
}

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}





.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.tumblr span {
  background-color: #34526f;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.pinterest span {
  background-color: #cb2027;
}



.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-tumblr {
  color: #34526f;
}
.icon-button .fa-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-pinterest {
  color: #cb2027;
}




.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
  color: white;
}

#container {
  width: auto;
  /*height: auto;*/
  /*margin-top: 120px;*/
  -webkit-perspective: 800px;
  perspective: 800px;
  text-align: center;
  height: calc(100vh - 70px);
  overflow: auto;
}

#container h1 {
  color: #ECF6CE;
  margin-bottom: 30px;
}

#container > hr {
  border: none;
  border: 1px solid #fff;
  width: 80%;
}

.card {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 260px;
  opacity: 0.85;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-radius: 5px;
}

.front {
  transform: rotateY(0deg);
  /*background: -webkit-linear-gradient(top left, #fbd995, #fb736a);*/
  /*background: linear-gradient(to bottom right, #fbd995, #fb736a);*/
  text-align: center;
  padding: 30px;
  background: #9a3767;
}

.back {
  /*background: -webkit-linear-gradient(top left, #fbd995, #fb736a);*/
  /*background: linear-gradient(to bottom right, #fbd995, #fb736a);*/
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 40px 15px;
  color: #fff;
  background: #9a3767;
}

.card:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.front .contact {
  height: 120px;
  width: 120px;
  border: 5px solid #B2DBBF;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}

.front .name {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

.front .job {
  color: #fff;
}

.front hr {
  border: none;
  color: #B2DBBF;
  border: 1px solid;
}

.back .icon {
  fill: currentColor;
  color: inherit;
  height: 33px;
  width: 33px;
  margin-top: 15px;
  color: white;
}

.back .icon:hover {
  cursor: pointer;
  color: #648767;
}
