@font-face {
    font-family: Lato;
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Portico;
    src: url('../fonts/Portico/Portico Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: Portico;
    src: url('../fonts/Portico/Portico Regular.otf') format('opentype');
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6
{
  font-family: Portico;
}
/* Basic styles */
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	margin: 0;
}
html,body
{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

body {
	font-family: Lato;
	background-color: #7B295C;
}

a {
	text-decoration: none;
}

.container {
	position: relative;
	/*margin: 35px auto 0;*/
	/*width: 300px;*/
	/*height: 534px;*/
/*	background: -webkit-gradient(linear, left top, right top, from(#9A3767) , to(#7B295C));
	background: -webkit-linear-gradient(left, #9A3767 , #7B295C);
	background: -o-linear-gradient(left, #9A3767 , #7B295C);
	background: linear-gradient(to right, #9A3767 , #7B295C);*/
	background:#7B295C;
	overflow: hidden;
}
.container
{
/*    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.23);*/
}
#navlogo
{
	position: absolute;
	top: 0px;
	right: 0px;
}
@media only screen and (max-width: 500px)
{
	#navlogo
	{
		top:9px;
	}
	#navlogo img
	{
		width: 150px;
		height: auto;
	}
}

/* Toggle functionality https://codepen.io/lmgonzalves/pen/KaWaJO */
#toggle {
	position: absolute;
	left: -100%;
	top: -100%;
}

#toggle:focus ~ .toggle-container .button-toggle {
	-webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle {
	-webkit-box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:hover {
	-webkit-box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:before {
	-webkit-transform: translateY(-50%) rotate(45deg) scale(1);
	    -ms-transform: translateY(-50%) rotate(45deg) scale(1);
	        transform: translateY(-50%) rotate(45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:after {
	-webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
	    -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
	        transform: translateY(-50%) rotate(-45deg) scale(1);
}
#toggle:checked:focus ~ .toggle-container .button-toggle {
	-webkit-box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .nav {
	margin-bottom: 100px;
	pointer-events: auto;
	-webkit-transform: translate(50px, 50px);
	    -ms-transform: translate(50px, 50px);
	        transform: translate(50px, 50px);
}
#toggle:checked ~ .nav .nav-item {
	color: #EC7263;
	letter-spacing: 0;
	height: 40px;
	line-height: 40px;
	margin-top: 0;
	opacity: 1;
	-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	        transform: scaleY(1);
	-webkit-transition: 0.5s, opacity 0.1s;
	-o-transition: 0.5s, opacity 0.1s;
	transition: 0.5s, opacity 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1) {
	-webkit-transition-delay: 0.15s;
	     -o-transition-delay: 0.15s;
	        transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1):before {
	-webkit-transition-delay: 0.15s;
	     -o-transition-delay: 0.15s;
	        transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	     -o-transition-delay: 0.1s;
	        transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2):before {
	-webkit-transition-delay: 0.1s;
	     -o-transition-delay: 0.1s;
	        transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3) {
	-webkit-transition-delay: 0.05s;
	     -o-transition-delay: 0.05s;
	        transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3):before {
	-webkit-transition-delay: 0.05s;
	     -o-transition-delay: 0.05s;
	        transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4) {
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4):before {
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:before {
	opacity: 0;
}
#toggle:checked ~ .dummy-content {
	padding-top: 30px;
}
#toggle:checked ~ .dummy-content:before {
	background-color: rgba(0, 0, 0, 0.3);
}


/*=====================================================================*/


/* Toggle button */
.button-toggle {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 25px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	border-radius: 100%;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.button-toggle:hover {
	-webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
.button-toggle:before, .button-toggle:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #EC7263;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.button-toggle:before {
	-webkit-transform: translateY(-50%) rotate(45deg) scale(0);
	    -ms-transform: translateY(-50%) rotate(45deg) scale(0);
	        transform: translateY(-50%) rotate(45deg) scale(0);
}
.button-toggle:after {
	-webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
	    -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
	        transform: translateY(-50%) rotate(-45deg) scale(0);
}


/*=====================================================================*/


/* Menu */
.nav {
	display: inline-block;
	margin: 25px 25px 20px;
	pointer-events: none;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.nav-item {
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	color: transparent;
	font-size: 14px;
	letter-spacing: -6.2px;
	height: 7px;
	line-height: 7px;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transform: scaleY(0.2);
	    -ms-transform: scaleY(0.2);
	        transform: scaleY(0.2);
	-webkit-transition: 0.5s, opacity 1s;
	-o-transition: 0.5s, opacity 1s;
	transition: 0.5s, opacity 1s;
}
.nav-item:nth-child(1) {
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}
.nav-item:nth-child(1):before {
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}
.nav-item:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	     -o-transition-delay: 0.05s;
	        transition-delay: 0.05s;
}
.nav-item:nth-child(2):before {
	-webkit-transition-delay: 0.05s;
	     -o-transition-delay: 0.05s;
	        transition-delay: 0.05s;
}
.nav-item:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	     -o-transition-delay: 0.1s;
	        transition-delay: 0.1s;
}
.nav-item:nth-child(3):before {
	-webkit-transition-delay: 0.1s;
	     -o-transition-delay: 0.1s;
	        transition-delay: 0.1s;
}
.nav-item:nth-child(4) {
	-webkit-transition-delay: 0.15s;
	     -o-transition-delay: 0.15s;
	        transition-delay: 0.15s;
}
.nav-item:nth-child(4):before {
	-webkit-transition-delay: 0.15s;
	     -o-transition-delay: 0.15s;
	        transition-delay: 0.15s;
}
.nav-item:nth-child(1) {
	letter-spacing: -8px;
}
.nav-item:nth-child(2) {
	letter-spacing: -7px;
}
.nav-item:nth-child(n + 4) {
	letter-spacing: -8px;
	margin-top: -7px;
	opacity: 0;
}
.nav-item:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #EC7263;
	-webkit-transform: translateY(-50%) scaleY(5);
	    -ms-transform: translateY(-50%) scaleY(5);
	        transform: translateY(-50%) scaleY(5);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
