/* Basic styles */
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}
html,body
{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

body {
	font-family: sans-serif;
	background-color: #755779;
}

a {
	text-decoration: none;
}

.container {
	position: relative;
	/*margin: 35px auto 0;*/
	/*width: 300px;*/
	/*height: 534px;*/
	background-color: #533557;
	overflow: hidden;
}
.container
{
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.23);
       -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.23);
}
#navlogo
{
	position: absolute;
	top: 0px;
	right: 0px;
}
@media only screen and (max-width: 500px)
{
	#navlogo
	{
		top:9px;
	}
	#navlogo img
	{
		width: 150px;
		height: auto;
	}
}

/* Toggle functionality https://codepen.io/lmgonzalves/pen/KaWaJO */
#toggle {
	position: absolute;
	left: -100%;
	top: -100%;
}

#toggle:focus ~ .toggle-container .button-toggle {
	box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle {
	box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:hover {
	box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:before {
	transform: translateY(-50%) rotate(45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:after {
	transform: translateY(-50%) rotate(-45deg) scale(1);
}
#toggle:checked:focus ~ .toggle-container .button-toggle {
	box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .nav {
	margin-bottom: 100px;
	pointer-events: auto;
	transform: translate(50px, 50px);
}
#toggle:checked ~ .nav .nav-item {
	color: #EC7263;
	letter-spacing: 0;
	height: 40px;
	line-height: 40px;
	margin-top: 0;
	opacity: 1;
	transform: scaleY(1);
	transition: 0.5s, opacity 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1) {
	transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1):before {
	transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2) {
	transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2):before {
	transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3) {
	transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3):before {
	transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4) {
	transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4):before {
	transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:before {
	opacity: 0;
}
#toggle:checked ~ .dummy-content {
	padding-top: 30px;
}
#toggle:checked ~ .dummy-content:before {
	background-color: rgba(0, 0, 0, 0.3);
}


/*=====================================================================*/


/* Toggle button */
.button-toggle {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 25px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	border-radius: 100%;
	transition: 0.6s;
}
.button-toggle:hover {
	box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
.button-toggle:before, .button-toggle:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #EC7263;
	border-radius: 5px;
	transition: 0.5s;
}
.button-toggle:before {
	transform: translateY(-50%) rotate(45deg) scale(0);
}
.button-toggle:after {
	transform: translateY(-50%) rotate(-45deg) scale(0);
}


/*=====================================================================*/


/* Menu */
.nav {
	display: inline-block;
	margin: 25px 25px 20px;
	pointer-events: none;
	transition: 0.5s;
}

.nav-item {
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	color: transparent;
	font-size: 14px;
	letter-spacing: -6.2px;
	height: 7px;
	line-height: 7px;
	text-transform: uppercase;
	white-space: nowrap;
	transform: scaleY(0.2);
	transition: 0.5s, opacity 1s;
}
.nav-item:nth-child(1) {
	transition-delay: 0s;
}
.nav-item:nth-child(1):before {
	transition-delay: 0s;
}
.nav-item:nth-child(2) {
	transition-delay: 0.05s;
}
.nav-item:nth-child(2):before {
	transition-delay: 0.05s;
}
.nav-item:nth-child(3) {
	transition-delay: 0.1s;
}
.nav-item:nth-child(3):before {
	transition-delay: 0.1s;
}
.nav-item:nth-child(4) {
	transition-delay: 0.15s;
}
.nav-item:nth-child(4):before {
	transition-delay: 0.15s;
}
.nav-item:nth-child(1) {
	letter-spacing: -8px;
}
.nav-item:nth-child(2) {
	letter-spacing: -7px;
}
.nav-item:nth-child(n + 4) {
	letter-spacing: -8px;
	margin-top: -7px;
	opacity: 0;
}
.nav-item:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #EC7263;
	transform: translateY(-50%) scaleY(5);
	transition: 0.5s;
}
